.history-part {
  .history-label {
    color: #002033;
    font-size: 24px;
    font-weight: bold;
  }
  .history-header {
    justify-content: space-between;
    .date {
      display: flex;
      align-items: center;
      .icon-calendar {
        // padding-top: 0.7em;
        padding-right: 0.2em;
      }
      font-size: 14px;
      color: #667985;
    }
  }
  .line {
    align-items: center;
  }

  .table {
    margin-top: 1em;
  }
  .button {
    background: #0094ff;
  }
}
