.history-part {
  .history-label {
    color: #002033;
    font-size: 24px;
    margin-right: 1.5em;
    font-weight: bold;
  }
  .history-header {
    .date {
      .icon-calendar {
        padding-top: 0.7em;
        padding-right: 0.2em;
      }
      font-size: 14px;
      color: #667985;
      margin-right: 2.5em;
    }
  }
  .line {
    align-items: center;
  }
  .select {
    width: 15em;
    padding-top: 0.8em;
    margin-right: 2em;
  }
  .table {
    margin-top: 3em;
  }
  .button {
    margin-top: 0.8em;
    background: #0094ff;
  }
}
