.root {
  height: 100%;
}

.modal {
  height: 100%;
  padding: 1.5em;
}
.headerText {
  color: #002033;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
}
.header {
  color: #002033;
  align-items: center;
  justify-content: space-between;
}
.icon {
  color: #002033;
}
.button {
  background: #0059df;
  margin-top: 2em;
  margin-bottom: 1em;
}
.footer {
  justify-content: end;
}
.info {
  height: 100%;
  justify-content: space-between;
}
