.root {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 32px;
  box-sizing: border-box;
  max-height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
  & > * + * {
    margin-top: 20px;
  }
}
.futureDeliveryBlock {
  width: 100%;
}
